/* General */
html {
  font-size: 16px;
  background-color: white;
}
/* Navbar */
nav #logo {
  height: 40px;
  width: auto;
}
.navbar, .navbar-expand-lg, .navbar-light {
  background-color: rgba(256,256,256,0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
/* Jumbotron */
/* .jumbotron {
  padding: 0;
  position: fixed;
  width: 100%;
  height: auto;
}
.jumbotron .container-fluid {
  padding: 0;
}
.jumbotron video {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
/* Background video */
#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Main Info Section */
#main-info {
  position: relative;
  top: 90rem;
  margin-bottom: 2rem;
  padding: 0;
}

#main-info .article,
#projects .project {
  background-color: rgba(256,256,256,0.6);
  width: 95%;
  padding: 5rem;
  margin-bottom: 10rem;
}

#main-info .article {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#main-info .article h1 {
  text-align: center;
  width: 100%;
}

/* Projects */
#projects {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 90rem;
}

#projects h1 {
  background-color: rgba(256,256,256,0.6);
  margin: 1rem auto;
  text-align: center;
  width: 95%;
  padding: 2rem;
}

#featured {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 0;
  margin: 0 auto;
}

#projects img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

#projects .project {
  padding: 2rem;
  width: 95%;
}

#projects .project-card {
  padding: 0;
  margin: 0;
}
